<div class="row pt-4">
  <div class="col-md-4 offset-md-4 p-4 card shadow-sm">
    <h2 class="text-center mb-4">Update Password</h2>
    <%= form_with url: password_path(params[:password_reset_token]), scope: :user, method: :put do |form| %>
      <div class="mb-3">
        <%= form.password_field :password, required: true, placeholder: "New password", autofocus: true, class: "form-control" %>
      </div>

      <div class="mb-3">
        <%= form.password_field :password_confirmation, required: true, placeholder: "Confirm new password", class: "form-control" %>
      </div>

      <%= form.submit "Update Password", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>